@import url('https://fonts.googleapis.com/css?family=Roboto:500')

// modify these
$height: 40px
$width: 100%
$logo: url('../images/g-logo.svg')

@function ratio($numerator)
  @return $height * ($numerator / 40)

// modify this with caution
$radius: ratio(1)